

<% action_url = users_url if action == :new %>
<% action_url = user_url(user) if action == :edit %>
<% action_url = session_url if action == :login %>


<form action="<%=action_url%>" method="post">
  Username: <input type="text" name="user[user_name]">
  <br>
  Password: <input type="password" name="user[password]">
  <br>
  <input type="submit" value="Sign up!">
</form>